{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HOME</title>
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'img/logo.png' %}"
  />

  <!-- css library -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/password-reset.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

</head>
<body style="background-image: url('/static/img/password-change-2.png');">
  {% include 'header.html' %}
  <div class="password-reset-container">
    <h1>Password reset complete</h1> 
    <p>Your new password has been set. <br>You can log in now on the 
        <a href= "{% url 'login' %}">log in page</a>.
    </p> 
  </div>
  {% include 'footer.html' %}
</body>
</html>