@font-face {
  font-family: "Century_Gothic_Regular";
  src: url("../fonts/Century_Gothic_Regular.ttf");
}

#article-list-main-div,
#article-detail-main-div {
  max-width: 90%;
  margin: auto;
  min-height: 455px;
  margin-bottom: 8%;
}

#article-detail-main-div {
  max-width: 82%;
  margin-top: 5%;
  margin-bottom: 6%;
}

#article-heading-div {
  display: flex;
  justify-content: space-between;
  margin: 0 0 3.5% 0;
}

#article-detail-heading-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
}

#article-heading-div h1 {
  font-size: 55px;
  margin: 0;
}

#article-title-div {
  width: 70%;
}

#article-title-div h1 {
  margin: 0;
  text-transform: uppercase;
  font-family: "Century_Gothic_Regular";
  word-spacing: 2px;
}

#article-title-div h1 span {
  font-size: 14px;
  margin-left: 1%;
}

#new-link-div,
#article-edit-div {
  margin: 0 2% 0 0;
}

#article-edit-div {
  border: 1px solid black;
}

#article-edit-div a {
  text-decoration: none;
  color: black;
  transition: 0.6s;
  padding: 0 10px 10px;
}

#new-link-div a {
  text-decoration: none;
  color: black;
  font-weight: 800;
  transition: 0.6s;
}

#new-link-div a:hover,
#article-edit-div a:hover {
  color: #7a0e0e;
}

.article-inner-divs {
  border: 1px solid black;
  border-radius: 20px;
  width: 35%;
  background-color: white;
}

.article-inner-divs:nth-child(even) {
  background-color: #7a0e0e;
  margin-left: 58%;
  color: white;
}

.article-inner-divs div {
  margin: 3%;
}

.article-inner-divs h3 {
  font-family: "Century_Gothic_Regular";
  text-transform: uppercase;
  margin: 0;
}

.button-link-div {
  text-align: right;
}

.button-link-div a {
  text-decoration: none;
}

.button-link-div a button {
  padding: 8px 14px;
  color: white;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #7a0e0e;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.6s;
}

.button-link-div a button:hover {
  background-color: transparent;
  color: black;
}

#article-body-div {
  background-color: rgba(200, 200, 200, 0.8);
  border: none;
  margin: 0% 15% 1% 6%;
  overflow: hidden;
}

.article-image-div {
  width: 200px;
  height: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
  float: left;
  margin: 3%;
}

.article-paragraph {
  padding: 6% 6% 3%6%;
}

.clear-padding {
  clear: both;
}

#comment-intro-paragraph {
  padding: 0% 6% 1% 6%;
  font-family: "Century_Gothic_Regular";
  font-weight: 700;
}

.comment-div {
  margin: 1% 12% 1% 4%;
  width: 70%;
}

.comment-div div p {
  padding: 0 6% 1% 6%;
  margin: 5px;
}

.comment-paragraph {
  border-bottom: 1px solid rgba(82, 80, 80, 0.5);
}

.author-paragraph {
  font-size: 15px;
  font-weight: 600;
}

#comment-form {
  margin: 2% 12% 2% 9%;
  width: 80%
}

#comment-form input {
  border: 1px solid black;
  border-radius: 12px;
  font-size: 15px;
  padding: 1%;
  width: 60%;
}

#comment-form input:focus {
  outline: none;
}

#comment-form button {
  margin-left: 3%;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 7px 15px;
  color: white;
  font-weight: 700;
  background-color: #7a0e0e;
  transition: 0.6s;
  cursor: pointer;
  font-size: 15px;
}

#comment-form button:hover {
  border: 1px solid black;
  background-color: transparent;
  color: black;
}


@media screen and (max-width:768px) {
  #article-heading-div {
    display: flex;
    justify-content: space-between;
    margin: 0 0 3.5% 0;
  }

  #article-detail-heading-div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
  }

  #article-heading-div h1 {
    font-size: 35px;
    margin: 6% 0 6% 0;
  }

  #article-title-div {
    width: 70%;
  }

  #article-title-div h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: "Century_Gothic_Regular";
    word-spacing: 2px;
    font-size: 25px;
  }

  #article-title-div h1 span {
    font-size: 14px;
    margin-left: 1%;
  }

  #new-link-div {
    margin: 0 2% 0 0;
  }

  #article-edit-div{
    margin: 3% 0% 0 10%;
    height: 70px;
  }

  #new-link-div a {
    font-weight: 800;
    font-size: 18px;
  }

  #new-link-div a:hover,
  #article-edit-div a:hover {
    color: #7a0e0e;
  }

  .article-inner-divs {
    width: 70%;
  }

  .article-inner-divs:nth-child(even) {
    margin: 5% 0 5% 20%;
    width: 68%;
  }

  .article-inner-divs div {
    margin: 6%;
  }

  .article-inner-divs h3 {
    font-size: 18px;
  }

  .article-inner-divs p {
    font-size: 15px;
  }

  .button-link-div a button {
    font-size: 12px;
  }

  #article-body-div {
    margin: 10% 0% 20% 1%;
  }

  .article-image-div {
    width: 140px;
    height: 140px;
    margin: 5%;
  }

  .article-paragraph {
    padding: 6% 6% 3%6%;
  }

  .clear-padding {
    clear: both;
  }

  #comment-intro-paragraph {
    font-size: 15px;
  }

  .comment-div {
    margin: 1% 12% 1% 4%;
    width: 100%;
  }

  .comment-div div p {
    padding: 0 6% 1% 6%;
    margin: 5px;
  }

  .comment-paragraph {
    border-bottom: 1px solid rgba(82, 80, 80, 0.5);
  }

  .author-paragraph {
    font-size: 15px;
    font-weight: 600;
  }

  #comment-form {
    margin: 2% 12% 2% 9%;
    width: 80%
  }

  #comment-form input {
    font-size: 14px;
    padding: 2% 4% 2% 4%;
    width: 100%;
  }

  #comment-form button {
    margin: 4% 0 4% 0;
    font-size: 14px;
  }

  #comment-form button:hover {
    border: 1px solid black;
    background-color: transparent;
    color: black;
  }

}