@font-face {
  font-family: "Century_Gothic_Regular";
  src: url("../fonts/Century_Gothic_Regular.ttf");
}

#login-main-div {
  max-width: 60%;
  margin: auto;
  text-align: center;
  margin-bottom: 7%;
  min-height: 420px;
}

#title-div {
  margin: 0 0 5% 0;
}

#title-div-2 {
  margin: 0 0 2% 0;
}

#title-div h1,
#title-div-2 h1 {
  font-size: 65px;
  font-family: "Century_Gothic_Regular";
  margin: 0;
}

.input-fields {
  margin: 0 0 2% 0;
  padding: 10px 32px;
  border-radius: 20px;
  font-size: 15px;
  font-weight: 600;
  border: 1px solid #efe7e7;
}

input:focus {
  outline: none;
}

.sub-paragraph {
  text-align: center;
}

.sub-paragraph a {
  color: black;
}

::placeholder {
  color: black;
  font-weight: 600;
}

button {
  padding: 12px 28px;
  border: 1px solid black;
  color: white;
  background-color: #7a0e0e;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.6s;
}

button:hover {
  background-color: transparent;
  color: black;
}

#signup-main-div {
  max-width: 90%;
  margin: auto;
  text-align: center;
}

#two-div-container {
  display: flex;
  margin-bottom: 3%;
}

#one-div {
  width: 70%;
}

#one-div form,
#login-paragraph-o {
  width: 50%;
  margin-left: 47%;
}

#two-div {
  width: 30%;
}

#two-div p {
  font-family: "Century_Gothic_Regular";
  text-align: left;
  margin: 20% 0 0 20%;
  font-weight: 800;
  font-size: 22px;
}


@media screen and (max-width:768px) {
  #title-div {
    margin: 10% 0 8% 0;
  }

  #title-div-2 {
    margin: 0 0 2% 0;
  }

  #title-div h1,
  #title-div-2 h1 {
    font-size: 45px;
  }

  .input-fields {
    font-size: 14px;
  }

  button {
    padding: 8px 20px;
    font-size: 15px;
  }

  #signup-main-div {
    max-width: 90%;
    margin: auto;
    text-align: center;
  }

  #two-div-container {
    display: flex;
    margin-bottom: 3%;
    flex-flow: row wrap;
  }

  #one-div {
    width: 100%;
  }

  #one-div form,
  #login-paragraph-o {
    width: 100%;
    margin-left: 0%;
    text-align: center;
  }

  #two-div {
    width: 100%;
    margin-bottom: 8%;
  }

  #two-div p {
    margin: 10% 0 0 20%;
    font-size: 18px;
  }

}