@font-face {
    font-family: "Century_Gothic_Regular";
    src: url("../fonts/Century_Gothic_Regular.ttf");
}


.password-reset-container {
    max-width: 90%;
    margin: auto;
    margin-top: 6%;
    min-height: 380px;
    margin-bottom: 4%;
}

.password-reset-container form input {
    border: 1px solid #707070;
    border-radius: 20px;
    background-color: #EFE7E7;
    font-size: 15px;
    padding: 0.9%;
    width: 30%;
    margin-top: 1%;
}

.password-reset-container form input:focus {
    outline: none;
}

.password-reset-container form div {
    margin-bottom: 1%;
}

.password-reset-container button {
    margin: 2% 0 0 0;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    background-color: #7a0e0e;
    transition: 0.6s;
    cursor: pointer;
    font-size: 15px;
}


.password-reset-container button:hover {
    border: 1px solid black;
    background-color: transparent;
    color: black;
}

.password-reset-container h1 {
    font-size: 45px;
}

.password-reset-container p {
    font-weight: 800;
    font-size: 20px;
    font-family: "Century_Gothic_Regular";
}

.password-reset-container a {
    text-decoration: none;
    color: #7a0e0e;
}

@media screen and (max-width:768px) {
    .password-reset-container {
        max-width: 80%;
        margin-top: 8%;
        min-height: 368px;
        margin-bottom: 4%;
    }

    .password-reset-container form input {
        border: 1px solid #707070;
        border-radius: 20px;
        background-color: #EFE7E7;
        font-size: 15px;
        padding: 2% 2% 2% 4%;
        width: 60%;
        margin-top: 1%;
    }

    .password-reset-container form div {
        margin-bottom: 1%;
    }

    .password-reset-container button {
        margin: 4% 0 0 0;
        padding: 8px 15px;
        font-size: 14px;
    }


    .password-reset-container button:hover {
        border: 1px solid black;
        background-color: transparent;
        color: black;
    }

    .password-reset-container h1 {
        font-size: 28px;
    }

    .password-reset-container p {
        font-weight: 800;
        font-size: 17px;
        font-family: "Century_Gothic_Regular";
    }

    .password-reset-container a {
        text-decoration: none;
        color: #7a0e0e;
    }

    #password-confirm-div form {
        margin-top: 20%;
    }

    #password-confirm-div form input {
        font-size: 14px;

    }
}