{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HOME</title>
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'img/logo.png' %}"
  />

  <!-- css library -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/about-suggest.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

  <style>
  #about-link{
    border-bottom:3px solid black;
    padding-bottom: 10%;
  }
  </style>

</head>
<body style="background-image: url('/static/img/about.png');">
  {% include 'header.html' %}
  <div class="about-suggest-container" id='about-div'>
    <div id='left-div'>
        <h1>ABOUT WEBSITE</h1>
        <p>
        This website is for anyone who is interested in learning Django, 
        anyone in the process of learning, done learning or curious 
        about Django. I want to use this platform to encourage people 
        to learn Django, talk about things I experienced when learning 
        and practicing Django, share good tips on learning Django and 
        any programming language in general. I will post articles here 
        at least once a week and they are free for everyone to read. 
        People who would like to leave comments on the articles will 
        have to be users and if anyone wants a notification for new 
        articles, they would have to be users too. I hope this website 
        becomes useful to many people.        
        </p>
    </div>
    <div id='right-div'>
        <h1>ABOUT DEVELOPER</h1>
        <p>
        Hey, I am Jonas, 21 years and I am from Ghana. I am a student of 
        Kwame Nkrumah University of Science And Technology studying computer 
        engineering. I am a web developer and this website is one of the 
        websites I have developed and deployed. I love programming and 
        problem solving and automating stuff with python. I write codes a 
        lot in python now. JavaScript, Java and C are other programming 
        languages I am good in too. <a href="https://www.hackerrank.com/jonasyawjnr">Here</a> 
        is a link to my hackerrank profile. 
        In my free time, I do photography, reading, and painting amongst other 
        hobbies. Check out my vsco profile <a href="https://www.vsco.com/yaw-jonas-">here</a> and my twitter 
        <a href="https://www.twitter.com/______jonas_">here</a>     
        </p>
    </div>
  </div>
  {% include 'footer.html' %}
</body>
</html>