{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ARTICLE DETAIL</title>
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'img/logo.png' %}"
  />

  <!-- css library -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/articles.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

  <style>
  #article-link{
    border-bottom:3px solid black;
    padding-bottom: 10%;
  }
  </style>

</head>
<body style="background-image: url('/static/img/article-detail.png');">
    {% include 'header.html' %}
    <div id='article-detail-main-div'>
        <div id='article-detail-heading-div'>
            <div id='article-title-div'>
                <h1>{{ article.title }}<br><span>by {{ article.author }} | {{ article.date }}</span></h1>
            </div>
            {% if user.username == 'Jonas' %}
            <div id='article-edit-div'>
            <p><a href="{% url 'article_update' article.slug %}">EDIT</a> | <a href="{% url 'article_delete' article.slug %}">DELETE</a></p>
            </div>
            {% endif %}
        </div>

        <div id='article-body-div'>
            <p class='article-paragraph'>{{ article.body|linebreaksbr }}</p>
            <div class='clear-padding'></div>
            <p id='comment-intro-paragraph'>COMMENTS</p>
            {% for comment in article.comment_set.all %}
            <div class='comment-div'>
              <div>
                <p class='author-paragraph'>{{ comment.author.username }}</p>
                <p class='comment-paragraph'>{{ comment }}</p>
              </div>
            </div>
            {% endfor %}
            <form method="POST" id='comment-form'>
            {% csrf_token %}
            <div>
              {% for field in form %}
              <input class="comment-fields"
              id="{{ field.id_for_label }}" maxlength="144"
              name="{{ field.html_name }}" value="{{ field.intial }}" 
              type="{{ field.field.widget.input_type }}"
              placeholder="leave a comment here">
              {% endfor %}
              <button type='submit'>send</button>
            </div>
            </form>
        </div>

    </div>
  {% include 'footer.html' %}
</body>
</html>