{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ARTICLES</title>
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'img/logo.png' %}"
  />

  <!-- css library -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/article_alter.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

  <style>
  #article-link{
    border-bottom:3px solid black;
    padding-bottom: 10%;
  }
  </style>

</head>
<body style="background-image: url('/static/img/edit.png');">
    {% include 'header.html' %}

    <div class='article-create-div' id='article-update-div'>
        <h1>EDIT</h1>

        <form method="POST" >
        {% csrf_token %}
            <div>
                {{ form.as_p }}
            </div>
            <button type='submit'>update</button>
        </form>
    </div

  <div class='clear-padding'></div>
  {% include 'footer.html' %}
</body>
</html>