{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SIGN UP</title>
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'img/logo.png' %}"
  />

  <!-- css library -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/login_and_logout.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

</head>
<body style="background-image: url('/static/img/signup.png');">
  {% include 'header.html' %}
    <div id="signup-main-div">
      <div id="title-div-2">
        <h1>SIGN UP</h1>
      </div>
      <div id="two-div-container">
        <div id="one-div">
        <form method="POST">
            {% csrf_token %}
            <div class="inside-form-div">
              {% for field in form %}
              <div>
              <p class="error-paragraph">{{ field.errors }}</p>
              <input class="input-fields"
              id="{{ field.id_for_label }}" maxlength="255"
              name="{{ field.html_name }}" value="{{ field.intial }}" 
              type="{{ field.field.widget.input_type }}"
              placeholder="{{ field.label }}">
            </div>
            {% endfor %}
            </div>
            <br/>
            <button type="submit">sign up</button>
        </form>
        <p class="sub-paragraph" id='login-paragraph-o'>Already a member ? <a href="{% url 'login' %}">log in</a></p>

        </div>
        <div id="two-div">
          <p>
            By signing up,<br>
            we will<br>
            send you<br>
            a notification<br>
            when a new article<br>
            comes in<br>
          </p>
        </div>
      </div>
    </div>
  {% include 'footer.html' %}
</body>
</html>