{% load static %}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HOME</title>
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'img/logo.png' %}"
  />

  <!-- css library -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/about-suggest.css' %}" />
  <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />

  <style>
  #suggest-link{
    border-bottom:3px solid black;
    padding-bottom: 10%;
  }
  </style>

</head>
<body style="background-image: url('/static/img/suggest.png');">
  {% include 'header.html' %}
  <div class="about-suggest-container">
    <div id='suggest-intro-paragraph'>
        <p> 
            Thank you for your suggestion !
        </p>
    </div>

  </div>
  {% include 'footer.html' %}
</body>
</html>